@import url(../css/clash-display.css);
/*bu ".."bi üste çık demek clash-display.css doyyasında tüm kurallar buraya da geçer */

/*büyük projelerce direk .color yazmak yerine daha avantajlı olduğu için root kullanılıyor*/
:root {
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

/*burada isim değişikliği yapılır mesela h1 artık .h1 oldu ve özellikler eklendi*/
h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}
/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}

/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
}

.navbar-nav .nav-link.active {
    color: var(--c-brand);
}

/* BTN */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-brand);
    border-color: var(--c-brand);
    color: white;
}

/* hover : ile belirtlildi fare üstündeyken ne olcağını böyle ifade ediyoruz extra hover ile ilgili class yok */
.btn-brand:hover {
    background-color: var(--c-brand-light);
    border-color: var(--c-brand-light);
    color: white;
}

/* HERO */
/* HERO */
/* id ile class ekleme section kısmının id' */
#hero {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.507), rgba(var(--c-brand-rgb), 0.438)), url(../images/hero-1.jpg);
    /* background-position: center;: Arka plan görüntüsünün elementin ortasında yer almasını sağlar.
    background-size: cover;: Arka plan görüntüsünün elementin tamamını kaplayacak şekilde ölçeklenmesini sağlar, aspect ratio'yu korur. */
    background-position: center;
    background-size: cover;
}

/* SECTION TITLE */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

.section-title p {
    /* !!!!bu max-with baya kullanılıyor taşmaları önlemek ve estetik görünmesi için çok önemli */
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* ICONBOX */
.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--c-brand);
    font-size: 34px;
    flex: none;
}

/* SERVICE */
/* position: relative; ile elementin konumu, normal belge akışına göre ayarlanabilir ve içindeki diğer konumlandırılmış elementler için referans noktası olur.
position'un farklı türleri var 
overflow: hidden; ile elementin boyutlarını aşan içerik gizlenir, böylece taşan içerik görünmez.
z-index: 2; ile element, diğer elementlere göre z-ekseni boyunca öncelikli olarak görünür. */
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}
/* ::after
Açıklama: CSS pseudo-elementidir. Bir elementin içeriğinin sonuna sahte bir element ekler. Bu sahte element, gerçek DOM'da bulunmaz, ancak görsel olarak elementin parçası gibi davranır.
Kullanımı: Genellikle dekoratif amaçlar veya ek içeriğin eklenmesi için kullanılır.
2. content: "";
Açıklama: Pseudo-elementin içeriğini tanımlar. Bu durumda, boş bir içerik oluşturur.
Kullanımı: ::after ve ::before pseudo-elementlerinde içerik belirtmek için gereklidir. Boş bir içerik genellikle sadece stil uygulamak için kullanılır.
3. width: 40px; ve height: 40px;
Açıklama: Pseudo-elementin genişliğini ve yüksekliğini 40 piksel olarak ayarlar.
Kullanımı: Pseudo-elementin boyutlarını belirlemek için kullanılır.
4. background: rgba(var(--c-brand-rgb), 0.2);
Açıklama: Pseudo-elementin arka plan rengini ayarlar. rgba(var(--c-brand-rgb), 0.2) ifadesi, CSS değişkenini (--c-brand-rgb) kullanarak yarı saydam bir renk tanımlar.
Kullanımı: Pseudo-elemente arka plan rengi vermek için kullanılır. rgba fonksiyonu, kırmızı, yeşil, mavi ve alfa (saydamlık) bileşenlerini tanımlar.
5. position: absolute;
Açıklama: Pseudo-elementin, en yakın konumlandırılmış üst elemente göre kesin olarak yerleştirilmesini sağlar. Bu durumda, ::after pseudo-elementi, .service sınıfına sahip elementin içine konumlandırılacak.
Kullanımı: Pseudo-elementin belirli bir noktada kesin olarak yerleştirilmesi gerektiğinde kullanılır.
6. bottom: 0; ve right: 0;
Açıklama: Pseudo-elementin, konumlandırıldığı üst elementin alt sağ köşesine yerleştirilmesini sağlar.
Kullanımı: Pseudo-elementin belirli bir noktaya konumlandırılması için kullanılır.
7. transition: var(--transition);
Açıklama: Pseudo-elementin stil değişikliklerinin belirli bir animasyon veya geçişle gerçekleşmesini sağlar. var(--transition), CSS değişkeni kullanılarak geçiş süresi veya özelliği tanımlar.
Kullanımı: Stil değişikliklerinin yumuşak ve animasyonlu bir şekilde gerçekleşmesi için kullanılır.
 */
.service::after {
    content: "";
    width: 0%;
    height: 0%;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

/*bu z2 ,-1 değerlerini iyi anlamak önemli sonuç olarak z2 olduğu için itemler z2 alıyor zaten absolute olduğu için onları etkilemeden divin tamamına kadar büyüyor z değeri relative ve absolute iç içe olunca sanırım farklı çalışabiliyor o yüzden extra belirtmek gerekiyor bi de z-1 demezsek otomatik en üste çıkıyor sanıyorum bunları daha detaylı bakacağım */
.service:hover::after {
    width: 100%;
    height: 100%;
    background: var(--c-brand);
    z-index: -1;
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

/* COUNTER */
#counter {
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/counter.jpg);
    background-position: center;
    background-size: cover;
}

/* PORTFOLIO */
.portfolio-item .iconbox {
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item:hover .iconbox {
    opacity: 1;
    top: 50%;
}

/* REVIEW */
.review small {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
}

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
}

/* TEAM */
/*  transform: translateX(-50%); left:50%; ortalama yöntemi */
.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}

/* CONTACT */
#contact {
    position: relative;
    z-index: 2;
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(var(--c-brand-rgb), 0.8), rgba(var(--c-brand-rgb), 0.8)), url(../images/counter.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brand);
}

/* FOOTER */
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}


footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}

